################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebAPI/.vs/WebAPI/v16/Server/sqlite3
